<%= form_with(model: interviewee, local: true) do |form| %>
  <% if interviewee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(interviewee.errors.count, "error") %> prohibited this interviewee from being saved:</h2>

      <ul>
      <% interviewee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :interviewee_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :interviewee_email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
